html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    color: white;
    background-color: #373b3b;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url("../static/bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 100%;
    font-size: 20px;
    text-align: justify;
}

.logo {
    position: fixed;
    top: 12px;
    left: 12px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

nav {
    position: fixed; 
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 3;
}

nav ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    /* transition: 2s all ease-in-out; */
}

nav ul li {
    margin: 5px;
    display: block;
    padding: 0px 30px;
}

nav ul li a {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
}


nav.black {
    background-color: #000;
    transition: 0.5s all ease-in-out;
}

#introduction h1 {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    color: white;
}

#introduction::after {
    content: "Single platform for all the Geeky Crypto Nerds who are curious about cryptography and network security and want to delve deeper into the cyber world. Get all the knowledge regarding Cryptography on a single click.";
}

.logo a {
    font-size: 25px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

#home,
#documentation,
#examples,
#about {
    margin-left: 30px;
    margin-right: 30px;
}

#getStarted {
    background-color: transparent;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    top: 400px;
    left: 800px;
}

#getStarted:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
}


#home h6 {
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

#home p {
    margin-left: 200px;
    margin-right: 200px;
}

#home p {
    font-size: 23px;
}

#cia_triad {
    margin-left: 180px;
    margin-right: 200px;
    font-size: 23px;
}

code {
    margin-left: 350px;
    margin-right: 200px;
    font-size: 23px;
}

#cia_triad li {
    font-weight: bold;
}

h6 {
    display: block;
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 0px;
}

h5 {
    display: block;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 0px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

#keyIntro h6,
p,
h5 {
    margin-left: 200px;
    margin-right: 200px;
}

#keySection {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

#keyData {
    height: 500px;
    width: 50%;
    margin-right: 1px;
}

#keyData p {
    margin-left: 0px;
    margin-top: 30px;
    font-size: 23px;
    margin-right: 2px;
}

#keyImage {
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.docImage {
    border-radius: 5px;
    height: 200px;
    width: 470px;
}

#keyData code {
    margin-left: 140px
}

#earlyKey p {
    font-size: 23px;
    margin-left: 230px;
    margin-right: 230px;
}

#earlyKey {
    border: 1px solid black;
}

#earlyKey table {
    margin-left: 200px;
    margin-right: 200px;
}

table {
    border: 1px solid black;
    font-size: 30px;
    border-collapse: collapse;
}

table td {
    text-align: center;
}

table th,
td {
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

#keyFormula {
    background-color: black;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

#introduction {
    font-size: 20px;
    color: white;
    display: block;
    position: absolute;
    left: 800px;
    top: 200px;

}
