{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/stylesheet_about.css">
<link rel="stylesheet" href="../static/stylesheet_about2.css">
{% endblock stylesheet %}


{% block body %}
<center>
    <h1>What is CryptYourMind?</h1>
    <div id="CYMIntro">
        <p>
            Crypt your mind is an educational site providing you information about crytography.Thus helping students and curious people to delve deep into cryptography.
            We provide simplified learning experience and a user friendly atmosphere.
        </p>
    </div>
    <h1>Our Motto</h1>
</center>
<center>
    <div class="container">
        <div class="box" id="box1">
            <h3>Be With Us</h3>

        </div>
        <div class="box" id="box2">
            <h3>Gain Knowledge</h3>
        </div>
        <div class="box" id="box3">
            <h3>Be Secure</h3>
        </div>
    </div>
    <div>
        <h3>CRYPTOGRAPHY ZINDABAD</h3>
    </div>
</center>
{% endblock body %}