{% extends 'documentation.html' %}

{% block docTitle %}
  Symmetric
{% endblock %}

{% block MainDocs %}
<main class="ContentSection">
  <h3>Symmetric-Key Encryption - One Key</h3>
  <p>
      Symmetric-key encryption, also called shared-key encryption or secret-key cryptography, uses a single key
      that both the sender and recipient possess. This key, used for both encryption and decryption, is called a
      secret key (also referred to as a symmetric) called a secret key (also referred to as a symmetric key or
      session key). Symmetric-key encryption is an efficient method for encrypting large amounts of data. But the
      drawback is to transfer the Key to Receiver as it is prone to security risks.
  </p>
    <center>
      <img src="../static/symmetric.png" class="docImage">
    </center>
</main>  
<main class="ContentSection">
  <h4>Some famous Symmetric-Key Algorithms</h4>
</main>
{% endblock %}
